body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color:#22aa00;
    height: 10px;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3{
    font-size: 15px;
}
header img {
    max-width: 100%; /* Set the maximum width of the logo */
    
}

h1{
    margin-left: 100px;
    font-size: 40;
}
.carousel {
    width: 1600px;
    height: 900px;
    margin: auto;
}
.carousel-item {
    padding: 20px;
}