* {
  font-family: sans-serif;
}
/* Navigation Bar */
.navbar {
  background-color: #fff;
  margin-top: 200;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar-nav a {
  margin: 0 20px;
  font-size: 20px;
  color: darkred;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-nav a:hover {
  background-color: green;
}

#navigationbar {
  margin-top: 200px;
}

/* Home Content */
p,
h2 {
  margin-left: 30px;
  margin-right: 30px;
  /* width: 1100px; */
}
.textContentMain {
  margin-top: -100px;
  display: flex;
  flex-direction: row;
}
.textContent {
  width: 900px;
  font-family: sans-serif;
  line-height: 35px;
  word-spacing: 3px;
  font-size: 18px;
}
.vegImage img {
  max-width: 250px;
  max-height: 250px;
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
  /* align-content: center; */
}
#vegImageText{
 margin-left: 110px; 
 margin-top: -50px;
}

/* Mobile View CSS */
@media only screen and (max-width: 600px) {
  #carousel-container {
    height: 250px; 
    width: 340px;
    margin: 0;
  }
  .vegImage {
    display: none;
  }
  p,
h2 {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}
p{
  margin-top: -20px;
}
.textContentMain {
  margin-top: -100px;
  display: flex;
  flex-direction: column-reverse;
}
.textContent {
  margin-left: 30px;
  width: 300px;
  font-family: sans-serif;
  line-height: 25px;
  font-size: 15px;
}
}